<div class="sideBar">
  <div class="sideTitle">推薦的頻道</div>

    <div class="sideStream">
      <a href="#">
        <div class="sideRow">         
          <img class="sideImg" src="assets/summit.png" alt="">
          <div class="sideTitleName">
            <div class="sideStreamTitle">
              summit1g
            </div>
            <div class="sideName">
              The Elder Scrolls Online
            </div>
          </div>
          <div class="sideDot">
          </div>
          <div class="sideViewers">
            15,329
          </div>
        </div>
      </a>
    </div>

    <div class="sideStream">
      <a href="#">
        <div class="sideRow">
          <img class="sideImg" src="assets/kripp.png" alt="">
          <div class="sideTitleName">
            <div class="sideStreamTitle">
              nl_Kripp
            </div>
            <div class="sideName">
              Sid Meier's Civilization
            </div>
          </div>
          <div class="sideDot">
          </div>
          <div class="sideViewers">
            5,002
          </div>
        </div>
      </a>
    </div>

    <div class="sideStream">
      <a href="#">
        <div class="sideRow">
          <img class="sideImg" src="assets/michael.png" alt="">         
          <div class="sideTitleName">
            <div class="sideStreamTitle">
              michaelreeves
            </div>
            <div class="sideName">
              Chess  
            </div>
          </div>
          <div class="sideDot">
          </div>
          <div class="sideViewers">
            4,817
          </div>
        </div>
      </a>
    </div>

    <div class="sideStream">
      <a href="#">
        <div class="sideRow">
          <img class="sideImg" src="assets/wayne.png" alt="">
          <div class="sideTitleName">
            <div class="sideStreamTitle">
              wayne379
            </div>
            <div class="sideName">
              Chatting
            </div>
          </div>
          <div class="sideDot">
          </div>
          <div class="sideViewers">
            3,312
          </div>
        </div>
      </a>
    </div>

    <div class="sideStream">
      <a href="#">
        <div class="sideRow">
          <img class="sideImg" src="assets/hafu.png" alt="">
          <div class="sideTitleName">
            <div class="sideStreamTitle">
              itsHafu
            </div>
            <div class="sideName">
              Teamfight Tactics
            </div>
          </div>
          <div class="sideDot">
          </div>
          <div class="sideViewers">
            2,903
          </div>
        </div>
      </a>
    </div>

    <div class="sideStream">
      <a href="#">
        <div class="sideRow">
          <img class="sideImg" src="assets/voyboy.png" alt="">
          <div class="sideTitleName">
            <div class="sideStreamTitle">
              Voyboy
            </div>
            <div class="sideName">
              League of Legends
            </div>
          </div>
          <div class="sideDot">
          </div>
          <div class="sideViewers">
            1,555
          </div>
        </div>
      </a>
    </div>

    <div class="sideStream">
      <a href="#">
        <div class="sideRow">
          <img class="sideImg" src="assets/uzra.png" alt="">
          <div class="sideTitleName">
            <div class="sideStreamTitle">
              uzra
            </div>
            <div class="sideName">
              Hearthstone
            </div>
          </div>
          <div class="sideDot">
          </div>
          <div class="sideViewers">
            1,020
          </div>
        </div>
      </a>
    </div>

</div>