<div class="sideBar">
  <div class="sideFollow">追蹤的頻道</div>
  <div class="sideFollowStreams"></div>
  
  <div class="sideTitle">推薦的頻道</div>

    <div class="sideStream hide musical">
      
      <a href="/video?room=lian&streamerId=34&id=36">
        <div class="sideRow">         
          <img class="sideImg" src="assets/lian.jpg" alt="">
          <div class="sideTitleName">
            <div class="sideName">
              韋禮安
            </div>
            <div class="sideStreamTitle">
              【韋禮安直播音樂會】
            </div>           
          </div>
          <div class="sideDot">
          </div>
          <div class="sideViewers">
            0
          </div>
        </div>
      </a>

    </div>

    <div class="sideStream hide gaming">
      
      <a href="/video?room=amaz&streamerId=30&id=37">
        <div class="sideRow">         
          <img class="sideImg" src="assets/amaz.jpg" alt="">
          <div class="sideTitleName">
            <div class="sideName">
              Amaz
            </div>
            <div class="sideStreamTitle">
              Sunday chill stream
            </div>           
          </div>
          <div class="sideDot">
          </div>
          <div class="sideViewers">
            0
          </div>
        </div>
      </a>

    </div>

    <div class="sideStream hide talkshow">
      
      <a href="/video?room=brian&streamerId=28&id=38">
        <div class="sideRow">         
          <img class="sideImg" src="assets/brian.jpg" alt="">
          <div class="sideTitleName">
            <div class="sideName">
              博恩
            </div>
            <div class="sideStreamTitle">
              【博恩】大阪的中秋好秋阿
            </div>           
          </div>
          <div class="sideDot">
          </div>
          <div class="sideViewers">
            0
          </div>
        </div>
      </a>

    </div>

    <div class="sideStream hide musical">
      
      <a href="/video?room=yiliang&streamerId=35&id=39">
        <div class="sideRow">         
          <img class="sideImg" src="assets/yiliang.jpg" alt="">
          <div class="sideTitleName">
            <div class="sideName">
              艾怡良
            </div>
            <div class="sideStreamTitle">
              艾怡良 - 寂寞無害 ft. 樂人TV
            </div>           
          </div>
          <div class="sideDot">
          </div>
          <div class="sideViewers">
            0
          </div>
        </div>
      </a>

    </div>

    <div class="sideStream hide gaming">
      
      <a href="/video?room=nb3&streamerId=31&id=40">
        <div class="sideRow">         
          <img class="sideImg" src="assets/nb3.jpg" alt="">
          <div class="sideTitleName">
            <div class="sideName">
              nightblue3
            </div>
            <div class="sideStreamTitle">
              RENGAR IS ACTUALLY RIDICULOUS!
            </div>           
          </div>
          <div class="sideDot">
          </div>
          <div class="sideViewers">
            0
          </div>
        </div>
      </a>

    </div>

    <div class="sideStream hide talkshow">
      
      <a href="/video?room=haoping&streamerId=29&id=41">
        <div class="sideRow">         
          <img class="sideImg" src="assets/haoping.jpg" alt="">
          <div class="sideTitleName">
            <div class="sideName">
              黄豪平
            </div>
            <div class="sideStreamTitle">
              重開直播！播到一點半！
            </div>           
          </div>
          <div class="sideDot">
          </div>
          <div class="sideViewers">
            0
          </div>
        </div>
      </a>

    </div>

    <div class="sideStream hide musical">
      
      <a href="/video?room=yue&streamerId=33id=42">
        <div class="sideRow">         
          <img class="sideImg" src="assets/yue.jpg" alt="">
          <div class="sideTitleName">
            <div class="sideName">
              陳忻玥
            </div>
            <div class="sideStreamTitle">
              王艷薇 Evangeline x 陳忻玥 Vicky Chen
            </div>           
          </div>
          <div class="sideDot">
          </div>
          <div class="sideViewers">
            0
          </div>
        </div>
      </a>

    </div>

    <div class="sideStream hide gaming">
      
      <a href="/video?room=summit1g&streamerId=32&id=43">
        <div class="sideRow">         
          <img class="sideImg" src="assets/summit1g.jpg" alt="">
          <div class="sideTitleName">
            <div class="sideName">
              summit1g
            </div>
            <div class="sideStreamTitle">
              CS GO Stream - RANK S
            </div>           
          </div>
          <div class="sideDot">
          </div>
          <div class="sideViewers">
            0
          </div>
        </div>
      </a>

    </div>

    <div class="sideStream hide talkshow">
      
      <a href="/video?room=qianqian&streamerId=27&id=44">
        <div class="sideRow">         
          <img class="sideImg" src="assets/qianqian.jpg" alt="">
          <div class="sideTitleName">
            <div class="sideName">
              千千
            </div>
            <div class="sideStreamTitle">
              【千千】奢華飯店肉粽、珍煮丹零食開箱！
            </div>           
          </div>
          <div class="sideDot">
          </div>
          <div class="sideViewers">
            0
          </div>
        </div>
      </a>

    </div>

    <!-- <div class="sideStream gaming">
      
      <a href="#">
        <div class="sideRow">         
          <img class="sideImg" src="assets/summit.png" alt="">
          <div class="sideTitleName">
            <div class="sideName">
              summit1g
            </div>
            <div class="sideStreamTitle">
              The Elder Scrolls Online
            </div>           
          </div>
          <div class="sideDot">
          </div>
          <div class="sideViewers">
            15,329
          </div>
        </div>
      </a>

    </div>

    <div class="sideStream musical">
      <a href="#">
        <div class="sideRow">         
          <img class="sideImg" src="assets/music1.png" alt="">
          <div class="sideTitleName">
            <div class="sideName">
              Bandsintown
            </div>
            <div class="sideStreamTitle">
              Bandsintown Live - Outskirts
            </div>
          </div>
          <div class="sideDot">
          </div>
          <div class="sideViewers">
            12,129
          </div>
        </div>
      </a>
    </div>

    <div class="sideStream talkshow">
      <a href="#">
        <div class="sideRow">         
          <img class="sideImg" src="assets/talk1.png" alt="">
          <div class="sideTitleName">
            <div class="sideName">
              肉乙
            </div>
            <div class="sideStreamTitle">
              【491HR】旅豬流浪記
            </div>
          </div>
          <div class="sideDot">
          </div>
          <div class="sideViewers">
            10,111
          </div>
        </div>
      </a>
    </div>

    <div class="sideStream talkshow">
      <a href="#">
        <div class="sideRow">
          <img class="sideImg" src="assets/talk2.png" alt="">
          <div class="sideTitleName">
            <div class="sideName">
              啾比りみつ
            </div>
            <div class="sideStreamTitle">
              在做美勞 聊天聊天
            </div>
          </div>
          <div class="sideDot">
          </div>
          <div class="sideViewers">
            2,650
          </div>
        </div>
      </a>
    </div>

    <div class="sideStream gaming">
      <a href="#">
        <div class="sideRow">
          <img class="sideImg" src="assets/uzra.png" alt="">
          <div class="sideTitleName">
            <div class="sideName">
              uzra
            </div>
            <div class="sideStreamTitle">
              Hearthstone
            </div>
          </div>
          <div class="sideDot">
          </div>
          <div class="sideViewers">
            1,020
          </div>
        </div>
      </a>
    </div>

    <div class="sideStream musical">
      <a href="#">
        <div class="sideRow">
          <img class="sideImg" src="assets/music3.png" alt="">
          <div class="sideTitleName">
            <div class="sideName">
              bobczak
            </div>
            <div class="sideStreamTitle">
              sadboi monday, singing songs              
            </div>
          </div>
          <div class="sideDot">
          </div>
          <div class="sideViewers">
            808
          </div>
        </div>
      </a>
    </div> -->

</div>