<div class="sideBar">
  <div class="sideFollow">追蹤的頻道</div>
  <div class="sideFollowStreams"></div>
  
  <div class="sideTitle">推薦的頻道</div>

    <div class="sideStream gaming">
      
      <a href="#">
        <div class="sideRow">         
          <img class="sideImg" src="assets/summit.png" alt="">
          <div class="sideTitleName">
            <div class="sideName">
              summit1g
            </div>
            <div class="sideStreamTitle">
              The Elder Scrolls Online
            </div>           
          </div>
          <div class="sideDot">
          </div>
          <div class="sideViewers">
            15,329
          </div>
        </div>
      </a>

    </div>

    <div class="sideStream musical">
      <a href="#">
        <div class="sideRow">         
          <img class="sideImg" src="assets/music1.png" alt="">
          <div class="sideTitleName">
            <div class="sideName">
              Bandsintown
            </div>
            <div class="sideStreamTitle">
              Bandsintown Live - Outskirts
            </div>
          </div>
          <div class="sideDot">
          </div>
          <div class="sideViewers">
            12,129
          </div>
        </div>
      </a>
    </div>

    <div class="sideStream talkshow">
      <a href="#">
        <div class="sideRow">         
          <img class="sideImg" src="assets/talk1.png" alt="">
          <div class="sideTitleName">
            <div class="sideName">
              肉乙
            </div>
            <div class="sideStreamTitle">
              【491HR】旅豬流浪記
            </div>
          </div>
          <div class="sideDot">
          </div>
          <div class="sideViewers">
            10,111
          </div>
        </div>
      </a>
    </div>

    <div class="sideStream talkshow">
      <a href="#">
        <div class="sideRow">
          <img class="sideImg" src="assets/talk2.png" alt="">
          <div class="sideTitleName">
            <div class="sideName">
              啾比りみつ
            </div>
            <div class="sideStreamTitle">
              在做美勞 聊天聊天
            </div>
          </div>
          <div class="sideDot">
          </div>
          <div class="sideViewers">
            2,650
          </div>
        </div>
      </a>
    </div>

    <div class="sideStream gaming">
      <a href="#">
        <div class="sideRow">
          <img class="sideImg" src="assets/uzra.png" alt="">
          <div class="sideTitleName">
            <div class="sideName">
              uzra
            </div>
            <div class="sideStreamTitle">
              Hearthstone
            </div>
          </div>
          <div class="sideDot">
          </div>
          <div class="sideViewers">
            1,020
          </div>
        </div>
      </a>
    </div>

    <div class="sideStream musical">
      <a href="#">
        <div class="sideRow">
          <img class="sideImg" src="assets/music3.png" alt="">
          <div class="sideTitleName">
            <div class="sideName">
              bobczak
            </div>
            <div class="sideStreamTitle">
              sadboi monday, singing songs              
            </div>
          </div>
          <div class="sideDot">
          </div>
          <div class="sideViewers">
            808
          </div>
        </div>
      </a>
    </div>

</div>