<div class="sideBar">
  <div class="sideTitle">推薦的頻道</div>

  <a href="#">
    <div class="sideStream">
      <div class="">
        <img class="sideImg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Doge.png/300px-Doge.png" alt="">
      </div>
      <div class="sideTitleName">
        <div class="sideStreamTitle">
          今天不想上班
        </div>
        <div class="sideName">
          懶貓
        </div>
      </div>
      <div class="sideDot">
      </div>
      <div class="sideViewers">
        0
      </div>
    </div>
  </a>

  <a href="#">
    <div class="sideStream">
      <div class="">
        <img class="sideImg" src="https://w7.pngwing.com/pngs/571/251/png-transparent-meme-face-internet-meme-rage-comic-trollface-meme-comics-white-face.png" alt="">
      </div>
      <div class="sideTitleName">
        <div class="sideStreamTitle">
          今天不想上班
        </div>
        <div class="sideName">
          懶貓
        </div>
      </div>
      <div class="sideDot">
      </div>
      <div class="sideViewers">
        0
      </div>
    </div>
  </a>

  <a href="#">
    <div class="sideStream">
      <div class="">
        <img class="sideImg" src="https://www.kindpng.com/picc/m/3-30039_teh-meme-wiki-epic-face-png-transparent-png.png" alt="">
      </div>
      <div class="sideTitleName">
        <div class="sideStreamTitle">
          今天不想上班
        </div>
        <div class="sideName">
          懶貓
        </div>
      </div>
      <div class="sideDot">
      </div>
      <div class="sideViewers">
        0
      </div>
    </div>
  </a>

  <a href="#">
    <div class="sideStream">
      <div class="">
        <img class="sideImg" src="https://i.pinimg.com/236x/a9/7a/d9/a97ad9e005b2d9dd85150806cef3fe2c--meme-faces-the-ojays.jpg" alt="">
      </div>
      <div class="sideTitleName">
        <div class="sideStreamTitle">
          今天不想上班
        </div>
        <div class="sideName">
          懶貓
        </div>
      </div>
      <div class="sideDot">
      </div>
      <div class="sideViewers">
        0
      </div>
    </div>
  </a>

</div>