@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Noto Sans TC', sans-serif;
  /* font-family: "Poppins", sans-serif; */
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

/* Video & Chat Page */
.videoBody {
  display: flex;
  height: 100%;
}

.videoDiv {
  width: 100%;
}

.videoContent {
  width: 100%;
}

.videoPlayer {
  width: 75%;
  position: relative;
  height: 100%;
}

.streamliveText{
  position: absolute;
  top: 115px;
  left: 35px;
  padding: 2px;
  color: white;
  background: red;
  width: 80px;
  font-size: 30px;
  text-align: center;
  border-radius: 5px;
}

.streamerDesc {
  display: flex;
  margin-top: 15px;
}

.streamerImg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 20px;
}

.streamerTitleName {
  margin-right: auto;
}

.streamerProfile {
  color: black;
}

.streamerTitle {
  font-size: 30px;
  font-weight: 700;
  /* text-align: center; */
}

.streamerName {
  font-size: 25px;
}

.streamerViewers {
  font-size: 22px;
  margin-right: 15px;
}

.followBtn {
  background: black;
  color: white;
  /* width: 85px; */
  padding: 0 20px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.donateBtn {
  background: black;
  color: white;
  /* width: 60px; */
  padding: 0 20px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.followBtn:hover,
.donateBtn:hover {
  background: rgba(0, 0, 0, 0.80);
  cursor: pointer;
}

/* Chat Container */

.chat-container {
  width: 25%;
	background: #fff;
  overflow: hidden;
  height: 100%;
}

.chat-main {
  height: 90%;
  width: 100%;
  position: relative;
}

.chat-title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.chat-users {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 0;
}

.chat-users:hover {
  cursor: pointer;
}

.chat-usersList {
  border-radius: 8px;
  position: absolute;
  top: 0;
  right: 0;   
  width: 100%;
  height: 300px;
  text-align: center;
  z-index: 10;
  background: #F0F0F0;
}

.chat-userTitle {
  padding: 5px 0;
  background:	#E8E8E8;
  color: black;
  font-size: 20px;
}

.chatX {
  position: absolute;
  top: 2px;
  left: 5px;
  width: 20px;
  height: 20px;
  font-size: 22px;
}

.chatX:hover {
  cursor: pointer;
}

.chat-user {
  color: rgba(127, 41, 255, 0.95);
  margin: 5px 0;
}

.chat-messages {
  position: relative;
  padding: 10px;
  width: 100%;
  height: 90%;
  max-height: 850px;
  overflow-y: scroll;
}

.chat-messages .message {
  overflow-wrap: break-word;
  padding: 10px;
	border-radius: 5px;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: blue;
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
  height: 10%;
}

.chat-form-container form {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 0;
}

.chat-form-container input[type='text'] {
	font-size: 14px;
	padding: 5px 15px;
	height: 40px;
  /* flex: 1; */
  background: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 6px;
}

.chat-form-container input[type='text']:focus {
  background: white;
  border: black;
}

.chat-form-container button {
  margin-top: 5px;
  color: white;
  align-self: flex-end;
  border: none;
  border-radius: 6px;
  background: rgba(127, 41, 255, 0.95);
  padding: 5px;
  width: 70px;
  height: 40px;
}

.chat-form-container button:hover {
  cursor: pointer;
}

.room {
	text-align: center;
	font-size: 1.8rem;
}

/* HEADER */

.header-nav {  
	display: flex;
  align-items: center;
	height: 3.5rem;
}
  
.logo {
  width: 2rem;
  margin-left: 1rem;
  object-fit: contain;
}
  
.menu {
  display: flex;
  /* margin-right: auto; */
  margin: 0 18% 0 1.2rem;
  align-content: center;
}
  
.menu-1, .menu-2, .menu-3 {
  border-right: solid 1px rgba(0, 0, 0, 0.2);
  padding-right: 25px;
}
  
.menu-1, .menu-2,
.menu-3, .menu-4 {
  /* width: 6.25rem; */
  margin: 0 0.8rem;
  letter-spacing: 5px;
  text-align: left;
  color: black;
  font-weight: 50;
  font-size: 1.2em;
}

.menu-1:hover, 
.menu-2:hover, 
.menu-3:hover,
.menu-4:hover {
  color: #8A2BE2;
}

.menu-2:hover, 
.menu-3:hover,
.menu-4:hover {
  cursor: pointer;
}

.header-btm {
  height: 0.1rem;
  background-color: rgba(0, 0, 0, 0.2);
  /* margin-bottom: 15px; */
}

#searchbox {
  width: 300px;
  height: 35px;
  background: rgba(220, 220, 220, 0.4);
  padding: 0 15px;
  border: none;
  border-radius: 6px; 
  font-size: 15px;
}

#searchbox:focus {
  background: white;
}

.searchbox {
  margin-right: auto;
}

.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbox button[type=submit] {
  margin-left: 5px;
  border: none;
  border-radius: 6px;
  background: rgba(220, 220, 220, 0.4);
}

.searchbox button[type=submit]:hover {
  background: white;
}

.searchImg {
  width: 25px;
  height: 25px;
}

.searchImg:hover {
  cursor: pointer;
}

.signinDiv,
.signupDiv {
  width: 50px;
  height: 35px;
  border: none;
  border-radius: 6px;
  margin: 0 5px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signinText,
.signupText {
  display: inline-block;
}

.signinDiv {
  background-color: rgba(0, 0, 0, 0.15);
}

.signinDiv:hover {
  background-color: rgba(0, 0, 0, 0.22);
  cursor: pointer;
}

.signupDiv {
  background-color: rgba(127, 41, 255, 0.9);
  color:white;
}

.signupDiv:hover {
  background-color: rgba(127, 41, 255, 1.0);
  cursor: pointer;
}

.member {
  display: flex;
  justify-content: center;
  align-items: center;
}

.memberLink {
  display: inline-flex;
}

.memberImg {
  width: 30px;
  height: 30px;
  margin: 0 15px 0 5px;
}

.memberImg:hover {
  cursor: pointer;
}

.line {
  flex: auto;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}

.rowLine {
  margin-top: 18px;
  margin-bottom: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rowFb {
  margin: 14px 0;
  text-align: center;
}

/* Login / Sign Up form */

.loginForm {
  display: none;
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  /* overflow: auto; */
  background-color: rgba(0, 0, 0, 0.9);
  /* animation: modal;
  animation-duration: 0.7s; */
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  /* min-height: 40%; */
  /* margin-top: 2.5%; */
  /* margin-top: 50%; */
} 

#loginformContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 5px;
  background: #fff;
  /* padding: 30px; */
  width: 460px;
  /* height: 480px; */
  /* max-width: 1100px; */
  position: relative;
  padding: 20px;
  /* -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
  text-align: center; */
}

.divCloseBtn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0px;
  right: -35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divCloseBtn:hover {
  background: rgba(255, 255, 255, 0.1);
  text-decoration: none;
  cursor: pointer;
}

.loginCloseBtn {
  color: #fff;
  font-size: 28px;
  font-weight: 100;
}

.formTitle {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.formTitle .logo {
  width: 2rem;
  margin: 0 12px;
  line-height: 20px;
  position: relative;
  bottom: 5px;
}

.logo:hover {
  position: relative;
  top: -2px;
  left: 2px;
}

.formTitle .title {
  text-align: center;
}

.formTitle .titleCh {
  font-weight: 800;
  font-size: 20px;
}

.formTitle .titleEng {
  font-weight: 500;
  font-size: 22px;

}

.hide {
  display: none !important;
}

/* @keyframes modal{
  from{opacity: 0}
  to {opacity: 1}
} */

/* TABS */

.signDiv {
  border-bottom: solid 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 18px;
}

#signIn {
  margin-right: 5px;
}

.wrapper h2 {
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	display:inline-block;
  padding: 10px 8px 8px;
}

.wrapper h2:hover {
  cursor: pointer;
}

.wrapper h2.inactive {
  color: #a39191;
}

.wrapper h2.active {
  color: #000000;
  border-bottom: 2px solid #000000;
}

.signinForm,
.signoutForm {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.row {
  margin-bottom: 18px;
}

.row input[type=text],
.row input[type=password] {
  height: 30px;
  width: 100%;
  border: none;
  border-radius: 4px;
  background: rgba(220, 220, 220, 0.4);
  padding: 0 40px 0 10px;
}

.row input[type=text]:focus,
.row input[type=password]:focus {
  background: white;
  border-color: rgba(0, 0, 0, 0.1);
}

.info {
  margin-bottom: 10px;
}

.passContainer {
  position: relative;
}

.showPass {
  position: absolute;
  top: 4px;
  right: 5px;
  width: 20px;
  height: 20px;
}

.showPass:hover {
  background: rgba(220, 220, 220, 0.55);
}

.signinBtn,
.signupBtn {
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  height: 34px;
  background: black;
  color: white;
}

.bodyContainer {
  /* position: relative; */
  content: "";
  display: table;
  clear: both;
  width: 100%;
  height: calc(100vh - 3.5rem);
}

/* Side Bar */
.sideBar {
  height: 100%;
  float: left;
  /* width: 20%; */
  /* position: absolute; */
  z-index: 1;
  /* top: 0; */
  /* left: 0; */
  width: 250px;
  background: rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sideBar a {
  color: black;
}

.sideFollow {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0 10px 60px;
  display: none;
}

.sideTitle {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0 10px 60px;
}

.sideStream {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 6px 0;
  width: 250px;
}

.sideStream:hover {
  background: rgba(0, 0, 0, 0.08);
}

.sideRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 10px;
  width: 250px;
}

.sideImg {
  width: 40px;
  height: 40px;
  margin: 0 9px 0 9px;
  background: white;
  border-radius: 50%;
}

.sideTitleName {
  margin-right: 10px;
  width: 110px;
}

.sideStreamTitle {
  font-weight: bolder;
  font-size: 17px;
  width: 110px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.sideName {
  font-size: 14px;
  width: 110px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.sideDot {
  background: red;
  min-width: 10px;
  min-height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.sideViewers {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Content Container */

.contentContainer {
  height: 100%;
  float: left;
  width: calc(100% - 250px);
  z-index: 1;
  background: rgba(0, 0, 0, 0.04);
  /* position: absolute; */
  /* width: 100%; */
  /* min-width: 1650px; */
}

/* INDEX PAGE VIDEO */
.liveContainer {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  background: rgba(0, 0, 0, 0.001);
  height: 100%;
}

.slidingLiveStream {
  display: flex;
}

.slideStream {
  margin:0 10px;
}

.liveType {
  display: flex;
}

.liveGaming,
.liveMusical,
.liveTalk {
  display: flex;
  transition: box-shadow .2s ease;
  transition: transform .3s ease;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.liveGaming:hover,
.liveMusical:hover,
.liveTalk:hover {
  /* position: relative;
  top: -2px;
  left: 2px; */
  -webkit-box-shadow: -10px 15px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: -10px 15px 5px 0px rgba(0,0,0,0.2);
  box-shadow: -10px 15px 5px 0px rgba(0,0,0,0.2);
  transform: scale(1.05);
  cursor: pointer;
}

.liveCategoryImg {
  width: 380px;
}

.liveGamingDesc,
.liveMusicalDesc,
.liveTalkDesc {
  display: flex;
  flex-direction: column;
  width: 150px;
  background: white;
  padding: 15px 20px;
  margin-right: 10px;
}

.typeTitle {
  color: rgba(127, 41, 255, 1);
  font-size: 24px;
  font-weight: bold;
  /* text-align: center; */
}

.typeList {
  font-size: 22px;
  font-weight: normal;
}

.liveTitle,
.liveType {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 16px;
  margin-top: 5px;
}

.liveChannels,
.hotChannels {
  display: flex;
  font-size: 20px;
  flex-wrap: wrap;
}

.streams {
  margin: 0 20px 20px;
  transition: box-shadow 200ms ease;
}

.streams:hover {
  position: relative;
  top: -2px;
  left: 2px;
  -webkit-box-shadow: -10px 15px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: -10px 15px 5px 0px rgba(0,0,0,0.2);
  box-shadow: -10px 15px 5px 0px rgba(0,0,0,0.2);
}

.streamThumbnail {
  position: relative;
}

.thumbnails {
  width: 350px;
}

.streamliveLabel {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 2px;
  color: white;
  background: red;
  width: 50px;
  text-align: center;
  border-radius: 5px;
}

.streamcountLabel {
  position: absolute;
  bottom: 15px;
  left: 15px;
  padding: 2px;
  color: white;
  background: black;
  opacity: 0.8;
  /* width: 120px;   */
  border-radius: 5px;
  font-size: 18px;
}

.streamDesc {
  display: flex;
  margin: 5px 5px;
}

.streamImg {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  background: white;
  margin-right: 12px;
}

.streamTitleName {
  width: 250px;
}

.streamTitle {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.streamName {
  font-size: 17px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.streamType {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  width: 100px;
  padding: 5px 10px;
  text-align: center;
  margin-top: 10px;
  /* margin-left: 60px; */
  font-size: 15px;
}

/* PROFILE PAGE */
.profileContainer {
  display: flex;
  flex-direction: column;
  padding: 15px 35px;  
  /* height: 100vh; */
}

.profileTitle {
  font-size: 37px;
  font-weight: 900;
  margin-bottom: 10px;
}

.profileTabs {
  display: flex;
  font-size: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.profileActive {
  color: rgba(127, 41, 255, 0.7);
  border-bottom: 1px solid rgba(127, 41, 255, 0.7);
  /* font-weight: bold; */
}

.profileVideo,
.profileFollower,
.profileStripe {
  margin-left: 50px;
}

.profileSubTitle {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}

.followersNum,
.followedNum {
  font-size: 14px;
  padding-left: 18px;
}

.profileRow {
  background: white;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* max-width: 1000px; */
  max-width: 1200px;
  display: flex;
  margin-bottom: 35px;
}

.profileImg-Desc {
  margin-left: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileImg-Txt {
  font-weight: 600;
}

.profileImg-Img {
  width: 120px;
  border-radius: 50%;
  margin-left: 30px;
}

.profileImg-Input {
  display: flex;
}

.profileImg-Btn {
  background: rgba(0, 0, 0, 0.2);
  width: 110px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 14px;
  margin-bottom: 14px;
  cursor: pointer;
}

.profileImg-Btn:hover {
  background: rgba(0, 0, 0, 0.3);
}

.profileInfo-Btn {
  background: rgba(0, 0, 0, 0.2);
  width: 100px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 14px;
  margin-bottom: 5px;
  cursor: pointer;
}

.profileInfo-Btn:hover {
  background: rgba(0, 0, 0, 0.3);
}

.profileInfoContainer {
  background: white;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  display: flex;
  margin-bottom: 35px;
  flex-direction: column;
  flex-wrap: wrap;
}

.profileRowInfo {
  background: white;
  padding: 10px;
  /* width: 980px; */
  width: 100%;
  display: flex;
  font-size: 16px;
}

.profileInfo-Desc {
  width: 200px;
}

.profileInfo-Desc-Stop {
  width: 220px;
}

.profileInput {
  background: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 4px;
  width: calc(100% - 200px);
  padding: 10px 15px;
}

.profileInput:focus {
  border-color: black;
  background: white;
}

.profileInfo-Txt {
  width: 100%;
  padding-left: 15px;
}

.profileNote {
  margin: 5px 0 10px 10px;
  font-weight: 700;
  align-self: flex-end;
}

.profileStreamType {
  padding-left: 10px;
}

.deleteAccount {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  width: 55px;
  height: 25px;
  border-radius: 5px;
}

.deleteAccount:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

/* Profile VOD Tab */
.profileVideoRow {
  background: white;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  /* max-width: 1250px; */
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  height: 65vh;
}

.streamTime {
  position: absolute;
  bottom: 15px;
  right: 15px;
  padding: 2px;
  color: white;
  background: black;
  opacity: 0.8;
  padding: 0 5px;
  /* width: 120px;   */
  border-radius: 5px;
  font-size: 18px;
}

.profileVod {
  margin: 0 20px 20px;
  /* transition: box-shadow 200ms ease; */
}

.profileVod:hover {
  position: relative;
  top: -2px;
  left: 2px;
  /* -webkit-box-shadow: -10px 15px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: -10px 15px 5px 0px rgba(0,0,0,0.2);
  box-shadow: -10px 15px 5px 0px rgba(0,0,0,0.2); */
}

/* Profile Following Tab */

.profileFollowerRow {
  background: white;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  /* max-width: 1250px; */
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  /* height: 35vh; */
  margin-bottom: 15px;
}

.user {
  display: flex;
  height: 80px;
  align-items: center;
  padding: 0 20px;
  margin-right: 15px;
  border-radius: 6px;
  width: 200px;
  color: black;
}

.user:hover {
  background: rgba(0, 0, 0, 0.1);
}

.userEmail {
  font-size: 12px;
}

.userImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: white;
  margin-right: 10px;
}

.userDesc {
  display: flex;
  flex-direction: column;
}

.userfollowTime {
  font-size: 12px;
}

.user a:focus {
  color:black;
}

/* Profile Stripe Tab */
.profileStripeRow {
  background: white;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  /* max-width: 1250px; */
  /* display: flex;
  flex-wrap: wrap; */
  padding: 15px;
  /* height: 65vh; */
}

.paymentDetails {
  border-bottom: 1px solid grey;
  display: flex;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}

.payment {
  display: flex;
  font-size: 22px;
  margin-bottom: 20px;
  border-radius: 6px;
  padding: 10px 0;
  /* background: grey; */
}

.payment:hover {
  background: rgba(0, 0, 0, 0.2);
}

.paymentTime {
  margin-left: 15px;
}

.paymentTime,
.paymentAmount,
.paymentFrom,
.paymentTo {
  width: 15%;
}

.paymentMsg {
  width: 35%;
}

.donateForm {
  display: none;
  z-index: 1500;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.donateWrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;
}

#donateformContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 5px;
  background: #fff;
  width: 520px;
  position: relative;
  padding: 20px;
}

#donateformContent .titleCh {
  font-size: 22px;
}

.donateCloseBtn {
  color: #fff;
  font-size: 28px;
  font-weight: 100;
}

.donateInfo {
  display: flex;
  flex-direction: column;
  font-size: 19px;
}

.donateInfo .info {
  font-weight: bold;
}

.donateForm .row input[text] {
  /* height: 30px; */
  width: 100%;
  border: none;
  border-radius: 4px;
  background: rgba(220, 220, 220, 0.4);
  padding: 10px 10px;
  font-size: 18px;
}

.donateForm .row .inputNumber {
  /* height: 30px; */
  width: 100%;
  border: none;
  border-radius: 4px;
  background: rgba(220, 220, 220, 0.4);
  padding: 10px 10px;
  font-size: 18px;
}

.donateForm .row textarea {
  /* height: 30px; */
  width: 100%;
  border: none;
  border-radius: 4px;
  background: rgba(220, 220, 220, 0.4);
  padding: 10px 10px;
  font-size: 18px;
}

.donateForm .row textarea:focus {
  background: white;
  border-color: rgba(0, 0, 0, 0.1);
}

.stripeBtn {
  margin-top: 10px;
}

/* Profile Stripe Tab Stripe Payment */
.sr-field-error {
  color: var(--font-color);
  text-align: left;
  font-size: 13px;
  line-height: 17px;
  margin-top: 12px;
}

/* Inputs */
.sr-input {
  border: 1px solid var(--gray-border);
  border-radius: var(--radius);
  padding: 5px 12px;
  height: 44px;
  width: 100%;
  transition: box-shadow 0.2s ease;
  background: white;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.sr-input:focus {
  box-shadow: 0 0 0 1px rgba(50, 151, 211, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.07),
    0 0 0 4px rgba(50, 151, 211, 0.3);
  outline: none;
  z-index: 9;
}

.sr-input::placeholder {
  color: var(--gray-light);
}

.sr-result code {
  overflow: scroll;
}
.sr-result .expand {
  height: 350px;
}

.sr-combo-inputs-row {
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
}

/* Stripe Element placeholder */
.sr-card-element {
  padding-top: 12px;
}

/* Animated form */

.hidden {
  display: none;
}