@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Noto Sans TC', sans-serif;
  /* font-family: "Poppins", sans-serif; */
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

/* HEADER */

.header-nav {  
	display: flex;
  align-items: center;
	height: 3.5rem;
}
  
.logo {
  width: 2rem;
  margin-left: 1rem;
  object-fit: contain;
}
  
.menu {
  display: flex;
  /* margin-right: auto; */
  margin: 0 18% 0 1.2rem;
  align-content: center;
}
  
.menu-1, .menu-2, .menu-3 {
  border-right: solid 1px rgba(0, 0, 0, 0.2);
  padding-right: 25px;
}
  
.menu-1, .menu-2,
.menu-3, .menu-4 {
  /* width: 6.25rem; */
  margin: 0 0.8rem;
  letter-spacing: 5px;
  text-align: left;
  color: black;
  font-weight: 50;
  font-size: 1.2em;
}

.menu-1:hover, 
.menu-2:hover, 
.menu-3:hover,
.menu-4:hover {
  color: #8A2BE2;
}

.menu-2:hover, 
.menu-3:hover,
.menu-4:hover {
  cursor: pointer;
}

.header-btm {
  height: 0.1rem;
  background-color: rgba(0, 0, 0, 0.2);
  /* margin-bottom: 15px; */
}

#searchbox {
  width: 300px;
  height: 35px;
  background: rgba(220, 220, 220, 0.4);
  padding: 0 15px;
  border: none;
  border-radius: 6px; 
  font-size: 15px;
}

#searchbox:focus {
  background: white;
}

.searchbox {
  margin-right: auto;
}

.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbox button[type=submit] {
  margin-left: 5px;
  border: none;
  border-radius: 6px;
  background: rgba(220, 220, 220, 0.4);
}

.searchbox button[type=submit]:hover {
  background: white;
}

.searchImg {
  width: 30px;
  height: 30px;
}

.searchImg:hover {
  cursor: pointer;
}

.signinDiv,
.signupDiv {
  width: 50px;
  height: 35px;
  border: none;
  border-radius: 6px;
  margin: 0 5px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signinText,
.signupText {
  display: inline-block;
}

.signinDiv {
  background-color: rgba(0, 0, 0, 0.15);
}

.signinDiv:hover {
  background-color: rgba(0, 0, 0, 0.22);
  cursor: pointer;
}

.signupDiv {
  background-color: rgba(127, 41, 255, 0.9);
  color:white;
}

.signupDiv:hover {
  background-color: rgba(127, 41, 255, 1.0);
  cursor: pointer;
}

.member {
  display: flex;
  justify-content: center;
  align-items: center;
}

.memberLink {
  display: inline-flex;
  /* background: white; */
}

.memberImg {
  width: 30px;
  height: 30px;
  margin: 0 15px 0 5px;
  /* background: white; */
}

.memberImg:hover {
  cursor: pointer;
}

.line {
  flex: auto;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}

.rowLine {
  margin-top: 18px;
  margin-bottom: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rowFb {
  margin: 14px 0;
  text-align: center;
}

/* Login / Sign Up form */

.loginForm {
  display: none;
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  /* overflow: auto; */
  background-color: rgba(0, 0, 0, 0.9);
  /* animation: modal;
  animation-duration: 0.7s; */
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  /* min-height: 40%; */
  /* margin-top: 2.5%; */
  /* margin-top: 50%; */
} 

#loginformContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 5px;
  background: #fff;
  /* padding: 30px; */
  width: 460px;
  /* height: 480px; */
  /* max-width: 1100px; */
  position: relative;
  padding: 20px;
  /* -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
  text-align: center; */
}

.divCloseBtn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0px;
  right: -35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divCloseBtn:hover {
  background: rgba(255, 255, 255, 0.1);
  text-decoration: none;
  cursor: pointer;
}

.loginCloseBtn {
  color: #fff;
  font-size: 28px;
  font-weight: 100;
}

.formTitle {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.formTitle .logo {
  width: 2rem;
  margin: 0 12px;
  line-height: 20px;
  position: relative;
  bottom: 5px;
}

.logo:hover {
  position: relative;
  top: -2px;
  left: 2px;
}

.formTitle .title {
  text-align: center;
}

.formTitle .titleCh {
  font-weight: 800;
  font-size: 20px;
}

.formTitle .titleEng {
  font-weight: 500;
  font-size: 22px;

}

.hide {
  display: none !important;
}

/* TABS */

.signDiv {
  border-bottom: solid 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 18px;
}

#signIn {
  margin-right: 5px;
}

.wrapper h2 {
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	display:inline-block;
  padding: 10px 8px 8px;
}

.wrapper h2:hover {
  cursor: pointer;
}

.wrapper h2.inactive {
  color: #a39191;
}

.wrapper h2.active {
  color: #000000;
  border-bottom: 2px solid #000000;
}

.signinForm,
.signoutForm {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.row {
  margin-bottom: 18px;
}

.row input[type=text],
.row input[type=password] {
  height: 30px;
  width: 100%;
  border: none;
  border-radius: 4px;
  background: rgba(220, 220, 220, 0.4);
  padding: 0 40px 0 10px;
}

.row input[type=text]:focus,
.row input[type=password]:focus {
  background: white;
  border-color: rgba(0, 0, 0, 0.1);
}

.info {
  margin-bottom: 10px;
}

.passContainer {
  position: relative;
}

.showPass {
  position: absolute;
  top: 4px;
  right: 5px;
  width: 20px;
  height: 20px;
}

.showPass:hover {
  background: rgba(220, 220, 220, 0.55);
}

.signinBtn,
.signupBtn {
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  height: 34px;
  background: black;
  color: white;
}

.bodyContainer {
  /* position: relative; */
  content: "";
  display: table;
  clear: both;
  width: 100%;
  height: calc(100vh - 3.5rem);
}

/* Side Bar */
.sideBar {
  height: 100%;
  float: left;
  /* width: 20%; */
  /* position: absolute; */
  z-index: 1;
  /* top: 0; */
  /* left: 0; */
  width: 250px;
  background: rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sideBar a {
  color: black;
}

.sideFollow {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0 10px 60px;
}

.sideTitle {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0 10px 60px;
}

.sideStream {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 6px 0;
  width: 250px;
}

.sideStream:hover {
  background: rgba(0, 0, 0, 0.08);
}

.sideRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 10px;
  width: 250px;
}

.sideImg {
  width: 40px;
  height: 40px;
  margin: 0 9px 0 9px;
  background: white;
  border-radius: 50%;
}

.sideTitleName {
  margin-right: 10px;
  width: 110px;
}

.sideStreamTitle {
  font-size: 14px;
  width: 110px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.sideName {
  font-weight: bolder;
  font-size: 17px;
  width: 110px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.sideDot {
  background: red;
  min-width: 10px;
  min-height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.sideViewers {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Content Container */

.contentContainer {
  height: 100%;
  float: left;
  width: calc(100% - 250px);
  z-index: 1;
  background: rgba(0, 0, 0, 0.04);
  /* position: absolute; */
  /* width: 100%; */
  /* min-width: 1650px; */
}

/* Error Page */
.errorContentContainer {
  height: 100%;
  float: left;
  width: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.04);
}

.errorLiveContainer {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  background: rgba(0, 0, 0, 0.001);
  height: 100%;
  justify-content: center;
  align-items: center;
}

.notFound404 {
  color: rgba(127, 41, 255, 0.9);
  font-size: 70px;
  font-weight: bolder;
}

.notFoundTitle {
  font-size: 50px;
  font-weight: bolder;
}

.notFoundText {
  text-align: center;
  font-size: 30px;
}

.notFoundBrowseBtn {
  background: rgba(127, 41, 255, 0.9);
  padding: 0 15px;
  border-radius: 8px;
  color: white;
}

.notFoundBrowseBtn:hover {
  cursor: pointer;
  background: rgba(127, 41, 255, 1.0);
}