/* PROFILE PAGE */
.profileContainer {
  display: flex;
  flex-direction: column;
  padding: 15px 35px;  
  /* height: 100vh; */
}

.profileTitle {
  font-size: 37px;
  font-weight: 900;
  margin-bottom: 10px;
}

.profileTabs {
  display: flex;
  font-size: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.profileActive {
  color: rgba(127, 41, 255, 0.7);
  border-bottom: 1px solid rgba(127, 41, 255, 0.7);
  /* font-weight: bold; */
}

.profileVideo,
.profileFollower,
.profileStripe {
  margin-left: 50px;
}

.profileSubTitle {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}

.followersNum,
.followedNum {
  font-size: 14px;
  padding-left: 18px;
}

.profileRow {
  background: white;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* max-width: 1000px; */
  max-width: 1200px;
  display: flex;
  margin-bottom: 35px;
}

.profileImg-Desc {
  margin-left: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileImg-Txt {
  font-weight: 600;
}

.profileImg-Img {
  width: 120px;
  border-radius: 50%;
  margin-left: 30px;
}

.profileImg-Input {
  display: flex;
}

.profileImg-Btn {
  background: rgba(0, 0, 0, 0.2);
  width: 110px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 14px;
  margin-bottom: 14px;
  cursor: pointer;
}

.profileImg-Btn:hover {
  background: rgba(0, 0, 0, 0.3);
}

.profileInfo-Btn {
  background: rgba(0, 0, 0, 0.2);
  width: 100px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 14px;
  margin-bottom: 5px;
  cursor: pointer;
}

.profileInfo-Btn:hover {
  background: rgba(0, 0, 0, 0.3);
}

.profileInfoContainer {
  background: white;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  display: flex;
  margin-bottom: 35px;
  flex-direction: column;
  flex-wrap: wrap;
}

.profileRowInfo {
  background: white;
  padding: 10px;
  /* width: 980px; */
  width: 100%;
  display: flex;
  font-size: 16px;
}

.profileInfo-Desc {
  width: 200px;
}

.profileInfo-Desc-Stop {
  width: 220px;
}

.profileInput {
  background: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 4px;
  width: calc(100% - 200px);
  padding: 10px 15px;
}

.profileInput:focus {
  border-color: black;
  background: white;
}

.profileInfo-Txt {
  width: 100%;
  padding-left: 15px;
}

.profileNote {
  margin: 5px 0 10px 10px;
  font-weight: 700;
  align-self: flex-end;
}

.profileStreamType {
  padding-left: 10px;
}

.deleteAccount {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  width: 55px;
  height: 25px;
  border-radius: 5px;
}

.deleteAccount:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

/* Profile VOD Tab */
.profileVideoRow {
  background: white;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  /* max-width: 1250px; */
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  /* height: 65vh; */
}

.streamThumbnail {
  position: relative;
}

.thumbnails {
  width: 320px;
}

.streamTime {
  position: absolute;
  bottom: 15px;
  right: 15px;
  padding: 2px;
  color: white;
  background: black;
  opacity: 0.8;
  padding: 0 5px;
  /* width: 120px;   */
  border-radius: 5px;
  font-size: 18px;
}

.streamDesc {
  display: flex;
  margin: 5px 5px;
}

.streamImg {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  background: white;
  margin-right: 12px;
}

.streamTitleName {
  width: 250px;
}

.streamTitle {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.streamName {
  font-size: 17px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.noProfileVod {
  padding: 0 20px;
}

.profileVod {
  margin: 0 20px 20px;
  /* transition: box-shadow 200ms ease; */
}

.profileVod:hover {
  position: relative;
  top: -2px;
  left: 2px;
  /* -webkit-box-shadow: -10px 15px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: -10px 15px 5px 0px rgba(0,0,0,0.2);
  box-shadow: -10px 15px 5px 0px rgba(0,0,0,0.2); */
}

/* Profile Following Tab */

.profileFollowerRow {
  background: white;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  /* max-width: 1250px; */
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  /* height: 35vh; */
  margin-bottom: 15px;
}

.noProfileFollower,
.noProfileFollowed {
  padding: 0 20px;
}

.user {
  display: flex;
  height: 80px;
  align-items: center;
  padding: 0 20px;
  margin-right: 15px;
  border-radius: 6px;
  width: 200px;
  color: black;
}

.user:hover {
  background: rgba(0, 0, 0, 0.1);
}

.userEmail {
  font-size: 12px;
}

.userImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: white;
  margin-right: 10px;
}

.userDesc {
  display: flex;
  flex-direction: column;
}

.userfollowTime {
  font-size: 12px;
}

.user a:focus {
  color:black;
}

/* Profile Stripe Tab */
.profileStripeRow {
  background: white;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  /* max-width: 1250px; */
  /* display: flex;
  flex-wrap: wrap; */
  padding: 15px;
  /* height: 65vh; */
}

.paymentDetails {
  border-bottom: 1px solid grey;
  display: flex;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}

.noProfilePayment {
  padding: 0 10px;
}

.payment {
  display: flex;
  font-size: 22px;
  margin-bottom: 20px;
  border-radius: 6px;
  padding: 10px 0;
  /* background: grey; */
}

.payment:hover {
  background: rgba(0, 0, 0, 0.1);
}

.paymentTime {
  /* margin-left: 15px; */
  margin-right: 3%;
  width: 12%;
  text-align: center;
}

.paymentAmount,
.paymentFrom,
.paymentTo {
  width: 15%;
}

.paymentMsg {
  width: 35%;
}