/* Video & Chat Page */
.videoBody {
  display: flex;
  height: 100%;
}

.videoDiv {
  width: 100%;
}

.videoContent {
  width: 100%;
}

.videoPlayer {
  width: 75%;
  position: relative;
  height: 100%;
}

.streamliveText{
  position: absolute;
  top: 115px;
  left: 35px;
  padding: 2px;
  color: white;
  background: red;
  width: 80px;
  font-size: 30px;
  text-align: center;
  border-radius: 5px;
}

.streamerDesc {
  display: flex;
  margin-top: 15px;
}

.streamerImg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 20px;
}

.streamerTitleName {
  margin-right: auto;
}

.streamerProfile {
  color: black;
}

.streamerTitle {
  font-size: 30px;
  font-weight: 700;
  /* text-align: center; */
}

.streamerName {
  font-size: 25px;
}

.streamerViewers {
  font-size: 22px;
  margin-right: 15px;
}

.followBtn {
  background: black;
  color: white;
  /* width: 85px; */
  padding: 0 20px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.donateBtn {
  background: black;
  color: white;
  /* width: 60px; */
  padding: 0 20px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.followBtn:hover,
.donateBtn:hover {
  background: rgba(0, 0, 0, 0.80);
  cursor: pointer;
}

/* Chat Container */

.chat-container {
  width: 25%;
	background: #fff;
  overflow: hidden;
  height: 100%;
}

.chat-main {
  height: 90%;
  width: 100%;
  position: relative;
}

.chat-title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.chat-users {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 0;
}

.chat-users:hover {
  cursor: pointer;
}

.chat-usersList {
  border-radius: 8px;
  position: absolute;
  top: 0;
  right: 0;   
  width: 100%;
  max-height: 50%;
  overflow: hidden;
  /* height: 300px; */
  text-align: center;
  z-index: 10;
  background: #F0F0F0;
}

.chat-userTitle {
  padding: 5px 0;
  background:	#E8E8E8;
  color: black;
  font-size: 20px;
}

.chatX {
  position: absolute;
  top: 2px;
  left: 5px;
  width: 20px;
  height: 20px;
  font-size: 22px;
}

.chatX:hover {
  cursor: pointer;
}

.chat-user {
  color: rgba(127, 41, 255, 0.95);
  margin: 5px 0;
}

.chat-messages {
  position: relative;
  padding: 10px;
  width: 100%;
  height: 90%;
  max-height: 850px;
  overflow-y: scroll;
}

.chat-messages .message {
  overflow-wrap: break-word;
  padding: 10px;
	border-radius: 5px;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: blue;
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
  height: 10%;
}

.chat-form-container form {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 0;
}

.chat-form-container input[type='text'] {
	font-size: 14px;
	padding: 5px 15px;
	height: 40px;
  /* flex: 1; */
  background: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 6px;
}

.chat-form-container input[type='text']:focus {
  background: white;
  border: black;
}

.chat-form-container button {
  margin-top: 5px;
  color: white;
  align-self: flex-end;
  border: none;
  border-radius: 6px;
  background: rgba(127, 41, 255, 0.95);
  padding: 5px;
  width: 70px;
  height: 40px;
}

.chat-form-container button:hover {
  cursor: pointer;
}

.room {
	text-align: center;
	font-size: 1.8rem;
}

/* Donate Form */

.donateForm {
  display: none;
  z-index: 1500;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.donateWrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;
}

#donateformContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 5px;
  background: #fff;
  width: 520px;
  position: relative;
  padding: 20px;
}

#donateformContent .titleCh {
  font-size: 22px;
}

.donateCloseBtn {
  color: #fff;
  font-size: 28px;
  font-weight: 100;
}

.donateInfo {
  display: flex;
  flex-direction: column;
  font-size: 19px;
}

.donateInfo .info {
  font-weight: bold;
}

.donateForm .row input[text] {
  /* height: 30px; */
  width: 100%;
  border: none;
  border-radius: 4px;
  background: rgba(220, 220, 220, 0.4);
  padding: 10px 10px;
  font-size: 18px;
}

.donateForm .row .inputNumber {
  /* height: 30px; */
  width: 100%;
  border: none;
  border-radius: 4px;
  background: rgba(220, 220, 220, 0.4);
  padding: 10px 10px;
  font-size: 18px;
}

.donateForm .row textarea {
  /* height: 30px; */
  width: 100%;
  border: none;
  border-radius: 4px;
  background: rgba(220, 220, 220, 0.4);
  padding: 10px 10px;
  font-size: 18px;
}

.donateForm .row textarea:focus {
  background: white;
  border-color: rgba(0, 0, 0, 0.1);
}

.stripeBtn {
  margin-top: 10px;
}

/* Profile Stripe Tab Stripe Payment */
.sr-field-error {
  color: var(--font-color);
  text-align: left;
  font-size: 13px;
  line-height: 17px;
  margin-top: 12px;
}

/* Inputs */
.sr-input {
  border: 1px solid var(--gray-border);
  border-radius: var(--radius);
  padding: 5px 12px;
  height: 44px;
  width: 100%;
  transition: box-shadow 0.2s ease;
  background: white;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.sr-input:focus {
  box-shadow: 0 0 0 1px rgba(50, 151, 211, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.07),
    0 0 0 4px rgba(50, 151, 211, 0.3);
  outline: none;
  z-index: 9;
}

.sr-input::placeholder {
  color: var(--gray-light);
}

.sr-result code {
  overflow: scroll;
}
.sr-result .expand {
  height: 350px;
}

.sr-combo-inputs-row {
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
}

/* Stripe Element placeholder */
.sr-card-element {
  padding-top: 12px;
}

/* Animated form */

.hidden {
  display: none;
}