<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="css/layout.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.1/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.1/dist/sweetalert2.min.css">
    <title>Live Streaming</title>
  </head>

  <body>
    <header class="header">
      <%- include('partials/header'); %>
    </header>

    <div class="bodyContainer">
      
      <div class="errorContentContainer">
        <div class="errorLiveContainer">
          <div class="notFound404">
            500 Error
          </div>
          <div class="notFoundTitle">
            Oops something's wrong
          </div>
          <div class="notFoundText">
            We're sorry, an unexpected error occurred.<br>Please go back to homepage to <span class="notFoundBrowseBtn">browse channels</span>
          </div>
        </div>
      </div>

    </div>

    <script src="js/header.js"></script>
    <script>
      const browserChannelBtn = document.querySelector('.notFoundBrowseBtn');
      browserChannelBtn.addEventListener('click', () => {
        window.location.replace('/');
      })
    </script>
  </body>


</html>
