<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" /> -->
    <link rel="stylesheet" href="css/layout.css">
    <!-- <script src="https://cdn.bootcss.com/flv.js/1.4.2/flv.min.js"></script> -->
    <title>Live Streaming</title>
  </head>

  <body>
    <header class="header">
      <%- include('partials/header'); %>
    </header>

    <div class="bodyContainer">
      <%- include('partials/sidebar'); %>
      
      <div class="contentContainer">
        <div class="liveContainer">
          <div class="slidingLiveStream">

            <div class="slideStream">
              <div class="videoPlayer">
                <video width="500" height="320" controls class="video"></video>      
                <!-- <span class="streamliveText">live</span>
                <div class="playerTitle">Welcome To StreamIT World</div> -->
              </div>  
            </div>

            <div class="slideStream">
              <div class="videoPlayer">
                <video width="500" height="320" controls class="video"></video>      
                <!-- <span class="streamliveText">live</span>
                <div class="playerTitle">Welcome To StreamIT World</div> -->
              </div>  
            </div>

            <div class="slideStream">
              <div class="videoPlayer">
                <video width="500" height="320" controls class="video"></video>      
                <!-- <span class="streamliveText">live</span>
                <div class="playerTitle">Welcome To StreamIT World</div> -->
              </div>  
            </div>

          </div>
          <div class="liveTitle">
            您可能會喜歡的 Live 頻道
          </div>
          <div class="liveChannels">

            <div class="streams">
              <a href="#">
                <div class="streamThumbnail">
                  <img class="thumbnails" src="/thumbnails/qKAD1AHI8.png" alt="">
                  <span class="streamliveLabel">LIVE</span>
                  <span class="streamcountLabel">觀看人數:123</span>
                </div>
              </a>
              <div class="streamTitle">Welcome to my world</div>
              <div class="streamName">Johnny</div>
              <div class="streamType">Musical</div>
              
            </div>

            <div class="streams">
              <a href="#">
                <div class="streamThumbnail">
                  <img class="thumbnails" src="/thumbnails/qKAD1AHI8.png" alt="">
                  <span class="streamliveLabel">LIVE</span>
                  <span class="streamcountLabel">觀看人數:123</span>
                </div>
              </a>
              <div class="streamTitle">Welcome to my world</div>
              <div class="streamName">Johnny</div>
              <div class="streamType">Musical</div>
            </div>
          
          </div>
          <div class="liveType">
            您可能會喜歡的分類
          </div>
          <div class="liveChannelType">
            
          </div>
        </div>
      </div>

    </div>

    <script src="js/header.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/socketCount.js"></script>
    <script src="js/renderStreams.js"></script>
    <script>
      renderStreams();
    </script>
  </body>


</html>
