<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" /> -->
    <link rel="stylesheet" href="css/layout.css">
    <!-- <script src="https://cdn.bootcss.com/flv.js/1.4.2/flv.min.js"></script> -->
    <title>Live Streaming</title>
  </head>

  <body>
    <header class="header">
      <%- include('partials/header'); %>
    </header>

    <div class="bodyContainer">
      <%- include('partials/sidebar'); %>
      
      <div class="contentContainer">
        <div class="liveContainer">

          <!-- <div class="slidingLiveStream">

            <div class="slideStream">
              <div class="videoPlayer">
                <video width="500" height="320" controls class="video"></video>      
                <span class="streamliveText">live</span>
                <div class="playerTitle">Welcome To StreamIT World</div>
              </div>  
            </div>

            <div class="slideStream">
              <div class="videoPlayer">
                <video width="500" height="320" controls class="video"></video>      
                <span class="streamliveText">live</span>
                <div class="playerTitle">Welcome To StreamIT World</div>
              </div>  
            </div>

            <div class="slideStream">
              <div class="videoPlayer">
                <video width="500" height="320" controls class="video"></video>      
                <span class="streamliveText">live</span>
                <div class="playerTitle">Welcome To StreamIT World</div>
              </div>  
            </div>

          </div> -->

          <div class="liveTitle liveTitleCategory">
            實況分類
          </div>

          <div class="liveType">
            <div class="liveGaming">
              <img class="liveCategoryImg" src="assets/gamingCat.jpg" alt="">
              <div class="liveGamingDesc">
                <div class="typeTitle">電競</div>
                <div class="typeList">策略</div>
                <div class="typeList">射擊</div>
                <div class="typeList">動作</div>
                <div class="typeList">冒險</div>
                <div class="typeList">角色扮演</div>
              </div>            
            </div>
            <div class="liveMusical">
              <img class="liveCategoryImg" src="assets/musicCat.jpg" alt="">
              <div class="liveMusicalDesc">
                <div class="typeTitle">音樂</div>
                <div class="typeList">饒舌</div>
                <div class="typeList">爵士</div>
                <div class="typeList">搖滾</div>
                <div class="typeList">動漫</div>
                <div class="typeList">EDM</div>
              </div>            
            </div>
            <div class="liveTalk">
              <img class="liveCategoryImg" src="assets/talkCat.jpg" alt="">
              <div class="liveTalkDesc">
                <div class="typeTitle">聊天</div>
                <div class="typeList">生活</div>
                <div class="typeList">旅遊</div>
                <div class="typeList">美食</div>
                <div class="typeList">科技</div>
                <div class="typeList">美妝</div>
              </div>            
            </div>
          </div>

          <div class="liveTitle">
            發燒頻道
          </div>

          <div class="hotChannels">

            <div class="streams gaming">
              <a href="#">
                <div class="streamThumbnail">
                  <img class="thumbnails" src="assets/summitThumbnail.png" alt="">
                  <span class="streamliveLabel">LIVE</span>
                  <span class="streamcountLabel">觀看人數: 15,329</span>
                </div>
              </a>
              <div class="streamDesc">
                <img class="streamImg" src="assets/summit.png" alt="">
                <div class="streamTitleName">
                  <div class="streamTitle">easy chillin [@summit1g]</div>
                  <div class="streamName">summit1g</div>
                </div>
              </div>
              <!-- <div class="streamType">Musical</div> -->
            </div>

            <div class="streams musical">
              <a href="#">
                <div class="streamThumbnail">
                  <img class="thumbnails" src="assets/musicThumbnail1.png" alt="">
                  <span class="streamliveLabel">LIVE</span>
                  <span class="streamcountLabel">觀看人數: 12,129</span>
                </div>
              </a>
              <div class="streamDesc">
                <img class="streamImg" src="assets/music1.png" alt="">
                <div class="streamTitleName">
                  <div class="streamTitle">Bandsintown Live - Outskirts</div>
                  <div class="streamName">Bandsintown</div>
                </div>
              </div>
              <!-- <div class="streamType">Musical</div> -->
            </div>

            <div class="streams talkshow">
              <a href="#">
                <div class="streamThumbnail">
                  <img class="thumbnails" src="assets/talkThumbnail1.png" alt="">
                  <span class="streamliveLabel">LIVE</span>
                  <span class="streamcountLabel">觀看人數: 10,111</span>
                </div>
              </a>
              <div class="streamDesc">
                <img class="streamImg" src="assets/talk1.png" alt="">
                <div class="streamTitleName">
                  <div class="streamTitle">【491HR】旅豬流浪記</div>
                  <div class="streamName">肉乙</div>
                </div>
              </div>
              <!-- <div class="streamType">Musical</div> -->
            </div>

            <div class="streams gaming">
              <a href="#">
                <div class="streamThumbnail">
                  <img class="thumbnails" src="assets/krippThumbnail.png" alt="">
                  <span class="streamliveLabel">LIVE</span>
                  <span class="streamcountLabel">觀看人數: 5,002</span>
                </div>
              </a>
              <div class="streamDesc">
                <img class="streamImg" src="assets/kripp.png" alt="">
                <div class="streamTitleName">
                  <div class="streamTitle">Diety Tourism or Death</div>
                  <div class="streamName">nl_Kripp</div>
                </div>
              </div>
              <!-- <div class="streamType">Musical</div> -->
            </div>

            <div class="streams gaming">
              <a href="#">
                <div class="streamThumbnail">
                  <img class="thumbnails" src="assets/michaelThumbnail.png" alt="">
                  <span class="streamliveLabel">LIVE</span>
                  <span class="streamcountLabel">觀看人數: 4,817</span>
                </div>
              </a>
              <div class="streamDesc">
                <img class="streamImg" src="assets/michael.png" alt="">
                <div class="streamTitleName">
                  <div class="streamTitle">Building a robot dog with toast | !build for more info</div>
                  <div class="streamName">michaelreeves</div>
                </div>
              </div>
              <!-- <div class="streamType">Musical</div> -->
            </div>

            <div class="streams gaming">
              <a href="#">
                <div class="streamThumbnail">
                  <img class="thumbnails" src="assets/wayneThumbnail.png" alt="">
                  <span class="streamliveLabel">LIVE</span>
                  <span class="streamcountLabel">觀看人數: 3,312</span>
                </div>
              </a>
              <div class="streamDesc">
                <img class="streamImg" src="assets/wayne.png" alt="">
                <div class="streamTitleName">
                  <div class="streamTitle">[輝哥台] 真忙 昨天忙到四點才睡</div>
                  <div class="streamName">wayne379</div>
                </div>
              </div>
              <!-- <div class="streamType">Musical</div> -->
            </div>

            <div class="streams gaming">
              <a href="#">
                <div class="streamThumbnail">
                  <img class="thumbnails" src="assets/hafuThumbnail.png" alt="">
                  <span class="streamliveLabel">LIVE</span>
                  <span class="streamcountLabel">觀看人數: 2,903</span>
                </div>
              </a>
              <div class="streamDesc">
                <img class="streamImg" src="assets/hafu.png" alt="">
                <div class="streamTitleName">
                  <div class="streamTitle">G2 Hafu! tee eff tee with dogdog!!</div>
                  <div class="streamName">itsHafu</div>
                </div>
              </div>
              <!-- <div class="streamType">Musical</div> -->
            </div>

            <div class="streams musical">
              <a href="#">
                <div class="streamThumbnail">
                  <img class="thumbnails" src="assets/musicThumbnail2.png" alt="">
                  <span class="streamliveLabel">LIVE</span>
                  <span class="streamcountLabel">觀看人數: 2,888</span>
                </div>
              </a>
              <div class="streamDesc">
                <img class="streamImg" src="assets/music2.png" alt="">
                <div class="streamTitleName">
                  <div class="streamTitle">What should we make today?</div>
                  <div class="streamName">OfficialMikeShinoda</div>
                </div>
              </div>
              <!-- <div class="streamType">Musical</div> -->
            </div>     
          
          </div>

          <div class="liveTitle">
            你可能會喜歡的 live 頻道
          </div>

          <div class="liveChannels">

            <div class="streams talkshow">
              <a href="#">
                <div class="streamThumbnail">
                  <img class="thumbnails" src="assets/talkThumbnail2.png" alt="">
                  <span class="streamliveLabel">LIVE</span>
                  <span class="streamcountLabel">觀看人數: 2,650</span>
                </div>
              </a>
              <div class="streamDesc">
                <img class="streamImg" src="assets/talk2.png" alt="">
                <div class="streamTitleName">
                  <div class="streamTitle">在做美勞 聊天聊天</div>
                  <div class="streamName">啾比りみつ</div>
                </div>
              </div>
              <!-- <div class="streamType">Musical</div> -->
            </div>
  
            <div class="streams gaming">
              <a href="#">
                <div class="streamThumbnail">
                  <img class="thumbnails" src="assets/voyboyThumbnail.png" alt="">
                  <span class="streamliveLabel">LIVE</span>
                  <span class="streamcountLabel">觀看人數: 1,555</span>
                </div>
              </a>
              <div class="streamDesc">
                <img class="streamImg" src="assets/voyboy.png" alt="">
                <div class="streamTitleName">
                  <div class="streamTitle">Voyboy: Just Chillin w/ League n Spongebob~</div>
                  <div class="streamName">Voyboy</div>
                </div>
              </div>
              <!-- <div class="streamType">Musical</div> -->
            </div>
  
            <div class="streams gaming">
              <a href="#">
                <div class="streamThumbnail">
                  <img class="thumbnails" src="assets/uzraThumbnail.png" alt="">
                  <span class="streamliveLabel">LIVE</span>
                  <span class="streamcountLabel">觀看人數: 1,020</span>
                </div>
              </a>
              <div class="streamDesc">
                <img class="streamImg" src="assets/uzra.png" alt="">
                <div class="streamTitleName">
                  <div class="streamTitle">[JT Uzra] 戰場總司令</div>
                  <div class="streamName">uzra</div>
                </div>
              </div>
              <!-- <div class="streamType">Musical</div> -->
            </div>
  
            <div class="streams musical">
              <a href="#">
                <div class="streamThumbnail">
                  <img class="thumbnails" src="assets/musicThumbnail3.png" alt="">
                  <span class="streamliveLabel">LIVE</span>
                  <span class="streamcountLabel">觀看人數: 808</span>
                </div>
              </a>
              <div class="streamDesc">
                <img class="streamImg" src="assets/music3.png" alt="">
                <div class="streamTitleName">
                  <div class="streamTitle">sadboi monday, singing songs</div>
                  <div class="streamName">bobczak</div>
                </div>
              </div>
              <!-- <div class="streamType">Musical</div> -->
            </div>
  
            <div class="streams talkshow">
              <a href="#">
                <div class="streamThumbnail">
                  <img class="thumbnails" src="assets/talkThumbnail4.png" alt="">
                  <span class="streamliveLabel">LIVE</span>
                  <span class="streamcountLabel">觀看人數: 777</span>
                </div>
              </a>
              <div class="streamDesc">
                <img class="streamImg" src="assets/talk4.png" alt="">
                <div class="streamTitleName">
                  <div class="streamTitle">Pizza from scratch</div>
                  <div class="streamName">Grossie_Gore</div>
                </div>
              </div>
              <!-- <div class="streamType">Musical</div> -->
            </div>

          </div>
          
          <!-- <div class="liveType">
            您可能會喜歡的分類
          </div>
          <div class="liveChannelType">
            
          </div> -->
        </div>
      </div>

    </div>

    <script src="js/header.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/socketCount.js"></script>
    <script src="js/renderStreams.js"></script>
    <script>
      renderStreams();
    </script>
  </body>


</html>
