<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.1/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.1/dist/sweetalert2.min.css">
    <title>Live Streaming</title>
  </head>

  <body>
    <header class="header">
      <%- include('partials/header'); %>
    </header>

    <div class="bodyContainer">
      <%- include('partials/sidebar'); %>
      
      <div class="contentContainer">
        <div class="liveContainer">

          <div class="liveTitle liveTitleCategory">
            實況分類
          </div>

          <div class="liveType">
            <div class="liveGaming">
              <img class="liveCategoryImg" src="assets/gamingCat.jpg" alt="">
              <div class="liveGamingDesc">
                <div class="typeTitle">電競</div>
                <div class="typeList">策略</div>
                <div class="typeList">射擊</div>
                <div class="typeList">動作</div>
                <div class="typeList">冒險</div>
                <div class="typeList">角色扮演</div>
              </div>            
            </div>
            <div class="liveMusical">
              <img class="liveCategoryImg" src="assets/musicCat.jpg" alt="">
              <div class="liveMusicalDesc">
                <div class="typeTitle">音樂</div>
                <div class="typeList">饒舌</div>
                <div class="typeList">爵士</div>
                <div class="typeList">搖滾</div>
                <div class="typeList">動漫</div>
                <div class="typeList">EDM</div>
              </div>            
            </div>
            <div class="liveTalk">
              <img class="liveCategoryImg" src="assets/talkCat.jpg" alt="">
              <div class="liveTalkDesc">
                <div class="typeTitle">聊天</div>
                <div class="typeList">生活</div>
                <div class="typeList">旅遊</div>
                <div class="typeList">美食</div>
                <div class="typeList">科技</div>
                <div class="typeList">美妝</div>
              </div>            
            </div>
          </div>

          <!-- <div class="liveTitle">
            發燒頻道
          </div>

          <div class="hotChannels">

            <div class="streams hide gaming">
              <a href="#">
                <div class="streamThumbnail">
                  <img class="thumbnails" src="assets/summitThumbnail.png" alt="">
                  <span class="streamliveLabel">LIVE</span>
                  <span class="streamcountLabel">觀看人數: 15,329</span>
                </div>
              </a>
              <div class="streamDesc">
                <img class="streamImg" src="assets/summit.png" alt="">
                <div class="streamTitleName">
                  <div class="streamTitle">easy chillin [@summit1g]</div>
                  <div class="streamName">summit1g</div>
                  <div class="streamType">Gaming</div>
                </div>
              </div>            
            </div>

            <div class="streams hide musical">
              <a href="#">
                <div class="streamThumbnail">
                  <img class="thumbnails" src="assets/musicThumbnail1.png" alt="">
                  <span class="streamliveLabel">LIVE</span>
                  <span class="streamcountLabel">觀看人數: 12,129</span>
                </div>
              </a>
              <div class="streamDesc">
                <img class="streamImg" src="assets/music1.png" alt="">
                <div class="streamTitleName">
                  <div class="streamTitle">Bandsintown Live - Outskirts</div>
                  <div class="streamName">Bandsintown</div>
                  <div class="streamType">Musical</div>
                </div>
              </div>
            </div>

            <div class="streams hide talkshow">
              <a href="#">
                <div class="streamThumbnail">
                  <img class="thumbnails" src="assets/talkThumbnail1.png" alt="">
                  <span class="streamliveLabel">LIVE</span>
                  <span class="streamcountLabel">觀看人數: 10,111</span>
                </div>
              </a>
              <div class="streamDesc">
                <img class="streamImg" src="assets/talk1.png" alt="">
                <div class="streamTitleName">
                  <div class="streamTitle">【491HR】旅豬流浪記</div>
                  <div class="streamName">肉乙</div>
                  <div class="streamType">TalkShow</div>
                </div>
              </div>
            </div>
          
          </div> -->

          <div class="liveTitle">
            你可能會喜歡的 live 頻道
          </div>

          <div class="liveChannels">

            <div class="streams hide musical">
              <a href="/video?room=lian&streamerId=34&id=36">
                <div class="streamThumbnail">
                  <img class="thumbnails" src="assets/lianThumbnail.png" alt="">
                  <span class="streamliveLabel">LIVE</span>
                  <span class="streamcountLabel">觀看人數: 0</span>
                </div>
              </a>
              <div class="streamDesc">
                <div>
                  <a class="streamerLink" href="/profile?streamerId=34">
                    <img class="streamImg" src="assets/lian.jpg" alt="">
                  </a>
                </div>
                
                <div class="streamTitleName">
                  <div class="streamTitle">【韋禮安直播音樂會】</div>
                  <a class="streamerLink" href="/profile?streamerId=34">
                    <div class="streamName">韋禮安</div>
                  </a>
                  <div class="streamType">Musical</div>
                </div>
              </div>
            </div>

            <div class="streams hide gaming">
              <a href="/video?room=amaz&streamerId=30&id=37">
                <div class="streamThumbnail">
                  <img class="thumbnails" src="assets/amazThumbnail.png" alt="">
                  <span class="streamliveLabel">LIVE</span>
                  <span class="streamcountLabel">觀看人數: 0</span>
                </div>
              </a>
              <div class="streamDesc">
                <div>
                  <a class="streamerLink" href="/profile?streamerId=30">
                    <img class="streamImg" src="assets/amaz.jpg" alt="">
                  </a>
                </div>
                
                <div class="streamTitleName">
                  <div class="streamTitle">Sunday chill stream</div>
                  <a class="streamerLink" href="/profile?streamerId=30">
                    <div class="streamName">Amaz</div>
                  </a>
                  <div class="streamType">Gaming</div>
                </div>
              </div>
            </div>

            <div class="streams hide talkshow">
              <a href="/video?room=brian&streamerId=28&id=38">
                <div class="streamThumbnail">
                  <img class="thumbnails" src="assets/brianThumbnail.png" alt="">
                  <span class="streamliveLabel">LIVE</span>
                  <span class="streamcountLabel">觀看人數: 0</span>
                </div>
              </a>
              <div class="streamDesc">
                <div>
                  <a class="streamerLink" href="/profile?streamerId=28">
                    <img class="streamImg" src="assets/brian.jpg" alt="">
                  </a>
                </div>
                
                <div class="streamTitleName">
                  <div class="streamTitle">【博恩】大阪的中秋好秋阿</div>
                  <a class="streamerLink" href="/profile?streamerId=28">
                    <div class="streamName">博恩</div>
                  </a>
                  <div class="streamType">Talkshow</div>
                </div>
              </div>
            </div>

            <div class="streams hide musical">
              <a href="/video?room=yiliang&streamerId=35&id=39">
                <div class="streamThumbnail">
                  <img class="thumbnails" src="assets/yiliangThumbnail.png" alt="">
                  <span class="streamliveLabel">LIVE</span>
                  <span class="streamcountLabel">觀看人數: 0</span>
                </div>
              </a>
              <div class="streamDesc">
                <div>
                  <a class="streamerLink" href="/profile?streamerId=35">
                    <img class="streamImg" src="assets/yiliang.jpg" alt="">
                  </a>
                </div>
                
                <div class="streamTitleName">
                  <div class="streamTitle">艾怡良 - 寂寞無害 ft. 樂人TV</div>
                  <a class="streamerLink" href="/profile?streamerId=35">
                    <div class="streamName">艾怡良</div>
                  </a>
                  <div class="streamType">Musical</div>
                </div>
              </div>
            </div>

            <div class="streams hide gaming">
              <a href="/video?room=nb3&streamerId=31&id=40">
                <div class="streamThumbnail">
                  <img class="thumbnails" src="assets/nb3Thumbnail.png" alt="">
                  <span class="streamliveLabel">LIVE</span>
                  <span class="streamcountLabel">觀看人數: 0</span>
                </div>
              </a>
              <div class="streamDesc">
                <div>
                  <a class="streamerLink" href="/profile?streamerId=31">
                    <img class="streamImg" src="assets/nb3.jpg" alt="">
                  </a>
                </div>
                
                <div class="streamTitleName">
                  <div class="streamTitle">RENGAR IS ACTUALLY RIDICULOUS!</div>
                  <a class="streamerLink" href="/profile?streamerId=31">
                    <div class="streamName">nightblue3</div>
                  </a>
                  <div class="streamType">Gaming</div>
                </div>
              </div>
            </div>

            <div class="streams hide talkshow">
              <a href="/video?room=haoping&streamerId=29&id=41">
                <div class="streamThumbnail">
                  <img class="thumbnails" src="assets/haopingThumbnail.png" alt="">
                  <span class="streamliveLabel">LIVE</span>
                  <span class="streamcountLabel">觀看人數: 0</span>
                </div>
              </a>
              <div class="streamDesc">
                <div>
                  <a class="streamerLink" href="/profile?streamerId=29">
                    <img class="streamImg" src="assets/haoping.jpg" alt="">
                  </a>
                </div>
                
                <div class="streamTitleName">
                  <div class="streamTitle">重開直播！播到一點半！</div>
                  <a class="streamerLink" href="/profile?streamerId=29">
                    <div class="streamName">黄豪平</div>
                  </a>
                  <div class="streamType">Talkshow</div>
                </div>
              </div>
            </div>

            <div class="streams hide musical">
              <a href="/video?room=yue&streamerId=33id=42">
                <div class="streamThumbnail">
                  <img class="thumbnails" src="assets/yueThumbnail.png" alt="">
                  <span class="streamliveLabel">LIVE</span>
                  <span class="streamcountLabel">觀看人數: 0</span>
                </div>
              </a>
              <div class="streamDesc">
                <div>
                  <a class="streamerLink" href="/profile?streamerId=33">
                    <img class="streamImg" src="assets/yue.jpg" alt="">
                  </a>
                </div>
                
                <div class="streamTitleName">
                  <div class="streamTitle">王艷薇 Evangeline x 陳忻玥 Vicky Chen</div>
                  <a class="streamerLink" href="/profile?streamerId=33">
                    <div class="streamName">陳忻玥</div>
                  </a>
                  <div class="streamType">Musical</div>
                </div>
              </div>
            </div>

            <div class="streams hide gaming">
              <a href="/video?room=summit1g&streamerId=32&id=43">
                <div class="streamThumbnail">
                  <img class="thumbnails" src="assets/summit1gThumbnail.png" alt="">
                  <span class="streamliveLabel">LIVE</span>
                  <span class="streamcountLabel">觀看人數: 0</span>
                </div>
              </a>
              <div class="streamDesc">
                <div>
                  <a class="streamerLink" href="/profile?streamerId=32">
                    <img class="streamImg" src="assets/summit1g.jpg" alt="">
                  </a>
                </div>
                
                <div class="streamTitleName">
                  <div class="streamTitle">CS GO Stream - RANK S</div>
                  <a class="streamerLink" href="/profile?streamerId=32">
                    <div class="streamName">summit1g</div>
                  </a>
                  <div class="streamType">Gaming</div>
                </div>
              </div>
            </div>

            <div class="streams hide talkshow">
              <a href="/video?room=qianqian&streamerId=27&id=44">
                <div class="streamThumbnail">
                  <img class="thumbnails" src="assets/qianqianThumbnail.png" alt="">
                  <span class="streamliveLabel">LIVE</span>
                  <span class="streamcountLabel">觀看人數: 0</span>
                </div>
              </a>
              <div class="streamDesc">
                <div>
                  <a class="streamerLink" href="/profile?streamerId=27">
                    <img class="streamImg" src="assets/qianqian.jpg" alt="">
                  </a>
                </div>
                
                <div class="streamTitleName">
                  <div class="streamTitle">【千千】奢華飯店肉粽、珍煮丹零食開箱！</div>
                  <a class="streamerLink" href="/profile?streamerId=27">
                    <div class="streamName">千千</div>
                  </a>
                  <div class="streamType">Talkshow</div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

    <script src="js/header.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/socket_count.js"></script>
    <script src="js/render_streams.js"></script>
    <script>
      renderStreams();
      renderSidebar();
    </script>
  </body>


</html>
