<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" /> -->
    <link rel="stylesheet" href="css/layout.css">
    <!-- <script src="https://cdn.bootcss.com/flv.js/1.4.2/flv.min.js"></script> -->
    <title>Live Streaming</title>
  </head>

  <body>
    <header class="header">
      <%- include('partials/header'); %>
    </header>

    <div class="bodyContainer">
      <%- include('partials/sidebar'); %>
      
      <div class="contentContainer">        

        <div class="profileContainer">
          
          <div class="profileTitle">
            設定
          </div>

          <div class="profileTabs">

            <div class="profileInfo profileActive">
              個人檔案
            </div>

            <div class="profileVideo">
              歷史影片
            </div>

            <div class="profileFollower">
              追蹤名單
            </div>

            <div class="profileStripe">
              匯款記錄
            </div>

          </div>

          <div class="profileInfoTab">
            <div class="profileSubTitle">
              大頭貼
            </div>

            <div class="profileRow">
              <div class="profileImg">
                <!-- <img class="profileImg-Img" src="https://i0.wp.com/pinkupost.com/wp-content/uploads/2019/06/%E6%9C%A8%E6%9D%91%E6%8B%93%E5%93%89_%E9%95%B7%E5%B2%A1%E5%BC%98%E6%A8%B9_%E6%95%99%E5%A0%B4_2020%E5%B9%B4%E7%89%B9%E5%88%A5%E5%8A%87_%E5%AF%8C%E5%A3%AB%E9%9B%BB%E8%A6%96%E5%8F%B0_%E5%B0%8F%E8%AA%AA%E7%9C%9F%E4%BA%BA%E5%8C%96%E6%97%A5%E5%8A%87-2-1.jpg?resize=640%2C792" alt=""> -->
                <!-- <img class="profileImg-Img" src="https://www.dlf.pt/dfpng/middlepng/2-23802_meme-faces-happy-png-transparent-png.png" alt=""> -->
                <img class="profileImg-Img" src="" alt="">
              </div>
              <div class="profileImg-Desc">
                <form class="profileForm" action="/user/updateImg" method="POST" enctype="multipart/form-data">
                  <div class="profileImg-Input">
                    <input type="text" id="profileImg-Email" name="email" hidden="hidden" />
                    <input type="file" id="profileImg-InputBtn" name="profileImg" hidden="hidden" />
                    <input type="submit" id="profileImg-SubmitBtn" hidden="hidden" />
                    <div class="profileImg-Btn">
                      新增大頭貼
                    </div>
                  </div>  
                </form>
                <div class="profileImg-Txt">
                  必須是JPEG、PNG檔案，且不能超過 10MB。
                </div>
              </div>
            </div>

            <div class="profileSubTitle">
              個人檔案設定
            </div>
            <div class="profileInfoContainer">
              <div class="profileRowInfo">
                <div class="profileInfo-Desc">
                  使用者名稱
                </div>              
                <input type="text" class="profileInput profileName"> 
                
              </div>
              <div class="profileRowInfo">
                <div class="profileInfo-Desc">
                  電子郵件
                </div>
                <input type="text" class="profileInput profileEmail" readonly>             
                
              </div>
              <div class="profileRowInfo">
                <div class="profileInfo-Desc">
                  直播金鑰
                </div>
                <input type="text" class="profileInput profileKey" readonly>             
              </div>
              <div class="profileRowInfo">
                <div class="profileInfo-Desc">
                  直播標題
                </div>
                <input type="text" class="profileInput profileStreamTitle">
              </div>
              <div class="profileRowInfo">
                <div class="profileInfo-Desc">
                  直播分類
                </div>
                <select class="profileInput profileStreamType">
                  <option value="" selected disabled hidden>選擇直播分類</option>
                  <option value="Gaming">Gaming</option>
                  <option value="Musical">Musical</option>
                  <option value="TalkShow">TalkShow</option>
                </select>
              </div>
              <div class="profileNote">
                注：只有使用者名稱/直播標題/直播分類可被修改
              </div>
              <div class="profileInfo-Btn">
                更新資料
              </div>
            </div>

            <div class="profileSubTitle">
              停用您的 StreamIT 賬號
            </div>

            <div class="profileInfoContainer">
              <div class="profileRowInfo">
                <div class="profileInfo-Desc-Stop">
                  停用您的 StreamIT 賬號
                </div>              
                <div class="profileInfo-Txt">
                  若想要停用您的 StreamIT 帳號，您可以點擊 <span class="deleteAccount">停用</span> 按鈕進行相關作業。
                </div>      
              </div>

            </div>

          </div>

          <div class="profileVODTab">

            <div class="profileSubTitle">
              近期實況直播
            </div>

            <div class="profileVideoRow">
            
              <div class="profileVod">
                <a href="#">
                  <div class="streamThumbnail">
                    <img class="thumbnails" src="assets/summitThumbnail.png" alt="">
                    <span class="streamTime">8小時前</span>
                  </div>
                </a>
                <div class="streamDesc">
                  <img class="streamImg" src="assets/summit.png" alt="">
                  <div class="streamTitleName">
                    <div class="streamTitle">easy chillin [@summit1g]</div>
                    <div class="streamName">summit1g</div>
                  </div>
                </div>
                <!-- <div class="streamType">Musical</div> -->
              </div>

              <div class="profileVod">
                <a href="#">
                  <div class="streamThumbnail">
                    <img class="thumbnails" src="assets/summitThumbnail2.png" alt="">
                    <span class="streamTime">2天前</span>
                  </div>
                </a>
                <div class="streamDesc">
                  <img class="streamImg" src="assets/summit.png" alt="">
                  <div class="streamTitleName">
                    <div class="streamTitle">trying money farming lol [@summit1g]</div>
                    <div class="streamName">summit1g</div>
                  </div>
                </div>
                <!-- <div class="streamType">Musical</div> -->
              </div>

            </div>

          </div>

          <div class="profileFollowerTab">

            <div class="profileSubTitle">
              追蹤您的使用者
            </div>

            <div class="profileFollowerRow">

              <div class="user">             
                <img class="userImg" src="https://www.dlf.pt/dfpng/middlepng/2-23802_meme-faces-happy-png-transparent-png.png" alt="">
                <div class="userDesc">                 
                  <div class="userName">
                    John
                  </div>
                  <!-- <div class="userEmail">
                    john@hotmail.com
                  </div> -->
                </div>
              </div>

              <div class="user">             
                <img class="userImg" src="assets/summit.png" alt="">
                <div class="userDesc">                 
                  <div class="userName">
                    summit1g
                  </div>
                  <!-- <div class="userEmail">
                    john@hotmail.com
                  </div> -->
                </div>
              </div>

              <div class="user">             
                <img class="userImg" src="assets/talk4.png" alt="">
                <div class="userDesc">                 
                  <div class="userName">
                    Gross Gore
                  </div>
                  <!-- <div class="userEmail">
                    john@hotmail.com
                  </div> -->
                </div>
              </div>

              <div class="user">             
                <img class="userImg" src="assets/wayne.png" alt="">
                <div class="userDesc">                 
                  <div class="userName">
                    WayneSC
                  </div>
                  <!-- <div class="userEmail">
                    john@hotmail.com
                  </div> -->
                </div>
              </div>

            </div>

            <div class="profileSubTitle">
              您追蹤的使用者
            </div>

            <div class="profileFollowerRow">
            
              <div class="user">             
                <img class="userImg" src="assets/hafu.png" alt="">
                <div class="userDesc">                 
                  <div class="userName">
                    Hafu
                  </div>
                  <!-- <div class="userEmail">
                    john@hotmail.com
                  </div> -->
                </div>
              </div>

              <div class="user">             
                <img class="userImg" src="assets/music2.png" alt="">
                <div class="userDesc">                 
                  <div class="userName">
                    Mike Shinoda
                  </div>
                  <!-- <div class="userEmail">
                    john@hotmail.com
                  </div> -->
                </div>
              </div>

              <div class="user">             
                <img class="userImg" src="assets/talk1.png" alt="">
                <div class="userDesc">                 
                  <div class="userName">
                    肉乙
                  </div>
                  <!-- <div class="userEmail">
                    john@hotmail.com
                  </div> -->
                </div>
              </div>

              <div class="user">             
                <img class="userImg" src="assets/talk2.png" alt="">
                <div class="userDesc">                 
                  <div class="userName">
                    啾比りみつ
                  </div>
                  <!-- <div class="userEmail">
                    john@hotmail.com
                  </div> -->
                </div>
              </div>

            </div>

          </div>

          <div class="profileStripeTab">

            <div class="profileSubTitle">
              匯款記錄
            </div>

            <div class="profileStripeRow">
            
              <div class="paymentDetails">
                <div class="paymentType">
                  交易種類
                </div>
                <div class="paymentAmount">
                  交易金額
                </div>
                <div class="paymentFrom">
                  匯款人
                </div>
                <div  class="paymentTo">
                  收款人
                </div>
                <div  class="paymentMsg">
                  訊息
                </div>

              </div>

              <div class="payment">             
                <div class="paymentType">
                  匯出
                </div>
                <div class="paymentAmount">
                  NTD. 1000
                </div>
                <div class="paymentFrom">
                  Kenny
                </div>
                <div class="paymentTo">
                  My Love
                </div>
                <div class="paymentMsg">
                  Best thing bout tonight is we're not fighting.
                </div>
              </div>

              <div class="payment">             
                <div class="paymentType">
                  匯出
                </div>
                <div class="paymentAmount">
                  NTD. 1000
                </div>
                <div class="paymentFrom">
                  Ben
                </div>
                <div class="paymentTo">
                  John
                </div>
                <div class="paymentMsg">
                  This is the best day of my life. I never thought that someone like me would receive that much love. Thank you guys for lightening up my life.
                </div>
              </div>

              <div class="payment">             
                <div class="paymentType">
                  匯入
                </div>
                <div class="paymentAmount">
                  NTD. 1000
                </div>
                <div class="paymentFrom">
                  John
                </div>
                <div class="paymentTo">
                  Kenny
                </div>
                <div class="paymentMsg">
                  When I'm young I'd listen to the radio, waiting for my favourite song
                </div>
              </div>
                          
            </div>

          </div>
          

        </div>

      </div>

    </div>

    <script src="js/header.js"></script>
    <script src="js/profile.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/socketCount.js"></script>
    <script>
      if (window.location.href.indexOf('streamerId') !== -1) {
        const streamerId = window.location.href.split('streamerId=')[1].split('&')[0];
        getProfileStreamer(streamerId)
      } else if (token) {
        getProfile(token);
      }
      renderSidebar();
    </script>
  </body>


</html>
