<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/layout.css">
    <script src="https://cdn.bootcss.com/flv.js/1.4.2/flv.min.js"></script>
    <title>Live Streaming</title>
  </head>

  <body>
    <header class="header">
      <%- include('partials/header'); %>
    </header>

    <div class="bodyContainer">
      <%- include('partials/sidebar'); %>
      
      <div class="contentContainer">
        
        <div class="videoBody">

          <div class="videoPlayer">
            <video width="1080" height="765" controls id="video"></video>
            <span class="streamliveText">live</span>
            <div class="playerDesc">
              <div>
                <img class="playerImg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Doge.png/300px-Doge.png" alt="">
              </div>
              <div class="playerTitleName">
                <div class="playerTitle">
                  Testing123 Title
                </div>
                <div class="playerName">
                  Test playerName
                </div>
              </div>
              <div class="playerViewers">
                觀看人數：0
              </div>
              <div class="followBtn">
                Follow
              </div>
              <div class="donateBtn">
                Donate
              </div>
            </div>
          </div>          

          <div class="chat-container">
              <h3 class="room">Room Name: <span id="room-name"></span></h3>
              <h3 class="room">Room UserCount: <span id="usersCount"></span></h3>
              <!-- <h3 class="room">Room Users: <span id="users"></span></h3> -->
              <main class="chat-main">
  
              <div class="chat-messages">
              </div>
              </main>
  
              <div class="chat-form-container">
              <form id="chat-form">
                  <input
                  id="msg"
                  type="text"
                  placeholder="Enter Message"
                  required
                  autocomplete="off"
                  />
                  <button class="btn"><i class="fas fa-paper-plane"></i> Send</button>
              </form>
              </div>
              
          </div>
  
      </div>

      </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.min.js" integrity="sha512-BHtomM5XDcUy7tDNcrcX1Eh0RogdWiMdXl3wJcKB3PFekXb3l5aDzymaTher61u6vEZySnoC/SAj2Y/p918Y3w==" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/socketClient.js"></script>
    <script src="js/renderSidebar.js"></script>
    <script src="js/header.js"></script>
    <script src="js/donate.js"></script>
    <script src="js/video.js"></script>
    <!-- <script src="js/getProfile.js"></script> -->
    <script>
      if (flvjs.isSupported()) {
          const video = document.getElementById('video');
          const flvPlayer = flvjs.createPlayer({
            type: 'flv',
            url: 'http://127.0.0.1:8888/live/'+window.location.href.split('=')[1].split('&')[0]+'.flv',
            // url: 'https://streamit.website:8888/live/'+window.location.href.split('=')[1].split('&')[0]+'.flv',
          });
          flvPlayer.attachMediaElement(video);
          flvPlayer.load();
          flvPlayer.play();
      };
      renderSidebar();  
      getSingleUserKey();
    </script>
  </body>


</html>
