<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/video.css">
    <script src="https://cdn.bootcss.com/flv.js/1.4.2/flv.min.js"></script>
    <title>Live Streaming</title>
  </head>

  <body>
    <header class="header">
      <%- include('partials/header'); %>
    </header>

    <div class="bodyContainer">
      <%- include('partials/sidebar'); %>
      
      <div class="contentContainer">
        
        <div class="videoBody">

          <div class="videoPlayer">
            <div class="videoDiv">
              <video class="videoContent" width="1080" height="765" controls id="video"></video>
            </div>
            <span class="streamliveText">live</span>
            <div class="streamerDesc">
              <div>
                <img class="streamerImg" alt="">
              </div>
              <div class="streamerTitleName">
                <a class="streamerProfile">
                  <div class="streamerTitle">
                  </div>
                
                  <div class="streamerName">
                  </div>
                </a>
              </div>
              <div class="streamerViewers">
                觀看人數： 0
              </div>
              <div class="followBtn">
                追蹤
              </div>
              <div class="donateBtn">
                贊助
              </div>      

            </div>
          </div>          

          <div class="chat-container">
              <main class="chat-main">
  
                <div class="chat-title">
                  實況聊天室
                  <img class="chat-users" src="assets/users.png" alt="">
                </div>

                <div class="chat-messages">

                  <div class="chat-usersList">
                    <div class="chat-userTitle">
                      <span class="chatX">x</span>
                      聊天室中的使用者
                    </div>
                    <div id="chat-user">
                    </div>
                  </div>
                  
                </div>

              </main>
  
              <div class="chat-form-container">
                <form id="chat-form">
                    <input
                    id="msg"
                    type="text"
                    placeholder="輸入訊息"
                    required
                    autocomplete="off"
                    />
                    <button class="btn"><i class="fas fa-paper-plane"></i> 聊天</button>
                </form>
              </div>

              <div class="donateForm">
                
                <div class="donateWrapper">
                  <div id="donateformContent">
                    <div class="divCloseBtn">
                      <span class="donateCloseBtn">&times;</span>    
                    </div>
              
                    <div class="formTitle">
                      <img class="logo" src="assets/logo.png" alt="StreamIT">
                      <div class="title">
                        <span class="titleCh">贊助實況主 </span>
                      </div>
                    </div>
              
                    <div id="donateInfo" class="donateInfo">
              
                      <form id="payment-form" class="sr-payment-form">

                        <div class="row">
                          <div class="info">贊助人</div>
                          <input type="text" id="giver" class="" name="donate">
                        </div>

                        <div class="row">
                          <div class="info">實況主</div>
                          <input type="text" id="receiver" class="" name="donate">
                        </div>

                        <div class="row">
                          <div class="info">贊助金額 (單位: NTD)</div>
                          <input type="number" id="number" class="inputNumber" name="donate">
                        </div>

                        <div class="row">
                          <div class="info">想說的話</div>
                          <textarea id="stripeMsg" name="donate" rows="3"></textarea>
                        </div>
                      
                        <div class="sr-combo-inputs-row">
                          <div class="sr-input sr-card-element" id="card-element"></div>
                        </div>
                        <div class="sr-field-eror" id="card-errors" role="alert"></div>
                        <button class="stripeBtn signinBtn" id="submit">
                          <div class="spinner" id="spinner"></div>
                          <span id="button-text">贊助</span><span id="order-amount"></span>
                        </button>
                      </form>
                      
                    </div>
              
                </div>
              </div>
              
          </div>
  
      </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.min.js" integrity="sha512-BHtomM5XDcUy7tDNcrcX1Eh0RogdWiMdXl3wJcKB3PFekXb3l5aDzymaTher61u6vEZySnoC/SAj2Y/p918Y3w==" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/header.js"></script>
    <script src="js/video.js"></script>
    <script src="js/socket_client.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="js/stripe_script.js"></script>
    <script>
      getStreamerProfileandGetVideo();
      renderSidebar();  
    </script>

  </body>


</html>
